# Archivo de ejemplo de secretos para Infra Health Monitor
# NO contiene credenciales reales

MONITOR_ENV=prod
DB_HOST=127.0.0.1
DB_PORT=1433
DB_USER=your_db_user
DB_PASS=your_db_password

DFS_MODE=host
DFS_HOST=your_dfs_host
DFS_PORT=445
DFS_TARGET=your_dfs_target
